@model CVBuilderAuth.Models.CvSkill

@{
    ViewBag.Title = "Create Experience";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Optional: Set the layout for the view
}

<h2>Skills</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Level)
        @Html.TextBoxFor(model => model.Level, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Level)
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}