@{
    ViewBag.Title = "Edit Experience Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CVBuilderAuth.Models.CvExperience
<h2>Edit Experience Info  </h2>
@using (Html.BeginForm("EditExperience", "Resume", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Position, "Position")
            <br />
            @Html.EditorFor(m => m.Position)
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Description")
            <br />
            @Html.EditorFor(m => m.Description)

        </p>
        <p>
            @Html.LabelFor(m => m.StartDate, "Start Date")
            <br />
            @Html.EditorFor(m => m.StartDate)
        </p>
        <p>
            @Html.LabelFor(m => m.EndDate, "End Date")
            <br />
            @Html.EditorFor(m => m.EndDate)

        </p>
       
        <p><input type="submit" value="Save" /></p>
    </fieldset>
}