@model UserCvInfo

<h2>User CV Information</h2>

<table>
    <tr>
        <td>First Name:</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Birth Date:</td>
        <td>@Model.BirthDate</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@Model.Phone</td>
    </tr>
</table>
