@model CombinedViewModel

@if (Model.UserCvInfoData.Any() && Model.CvExperienceData.Any() && Model.CvLanguageSkillData.Any() && Model.CvSkillsData.Any())
{
    <table>
        <tr>
            <th>User CV Info</th>
        </tr>
        <tr>
            <td>@Model.UserCvInfoData.FirstOrDefault()?.FirstName</td>
            <td>@Model.UserCvInfoData.FirstOrDefault()?.LastName</td>
            <td>@Model.UserCvInfoData.FirstOrDefault()?.BirthDate</td>
            <td>@Model.UserCvInfoData.FirstOrDefault()?.Email</td>
            <td>@Model.UserCvInfoData.FirstOrDefault()?.Phone</td>
        </tr>
           <a href="/Resume/Edit"><button type="button" >Change User Info</button> </a>
    </table>

    <table>
        <tr>
            <th>CV Experience</th>
        </tr>
        <tr>
            <td>@Model.CvExperienceData.FirstOrDefault()?.Position</td>
            <td>@Model.CvExperienceData.FirstOrDefault()?.Description</td>
            <td>@Model.CvExperienceData.FirstOrDefault()?.StartDate</td>
            <td>@Model.CvExperienceData.FirstOrDefault()?.EndDate</td>

        </tr>
    </table>

    <table>
        <tr>
            <th>CV Language Skill</th>
        </tr>
        <tr>
            <td>@Model.CvLanguageSkillData.FirstOrDefault()?.Language</td>
            <td>@Model.CvLanguageSkillData.FirstOrDefault()?.Proficiency</td>

        </tr>
    </table>

    <table>
        <tr>
            <th>CV Skills</th>
        </tr>
        <tr>
            <td>@Model.CvSkillsData.FirstOrDefault()?.Name</td>
            <td>@Model.CvSkillsData.FirstOrDefault()?.Level</td>

        </tr>
    </table>

    
}

