
@model CombinedViewModel

@{
    ViewBag.Title = "CV Builder";
}
<div class="card-body">
<h2>Basic Info</h2>

    <p><strong>First Name:</strong> @Model.UserCvInfoData.FirstOrDefault()?.FirstName</p>
    <p><strong>Last Name:</strong> @Model.UserCvInfoData.FirstOrDefault()?.LastName</p>
    <p><strong>Birth Date:</strong> @Model.UserCvInfoData.FirstOrDefault()?.BirthDate</p>
    <p><strong>Email:</strong> @Model.UserCvInfoData.FirstOrDefault()?.Email</p>
    <p><strong>Phone:</strong> @Model.UserCvInfoData.FirstOrDefault()?.Phone</p>
    <p><strong>About:</strong> @Model.UserCvInfoData.FirstOrDefault()?.About</p>

<button class="btn btn-primary" onclick="location.href='@Url.Action("Edit")'">Edit</button>
</div>
<hr/> 

<h2>Language Skills</h2>

<p><strong>Language:</strong> @Model.CvLanguageSkillData.FirstOrDefault()?.Language</p>
<p><strong>Proficiency:</strong> @Model.CvLanguageSkillData.FirstOrDefault()?.Proficiency</p>
        

<button class="btn btn-primary" onclick="location.href='@Url.Action("EditLanguage")'">Edit</button>
<hr />

<h2>Education</h2>

<p><strong>Name:</strong> @Model.CvEducationData.FirstOrDefault()?.Name</p>
<p><strong>Type:</strong> @Model.CvEducationData.FirstOrDefault()?.Type</p>
       

<button class="btn btn-primary" onclick="location.href='@Url.Action("EditEducation")'">Edit</button>
<hr />

<h2>Experience</h2>

<p><strong>Position:</strong> @Model.CvExperienceData.FirstOrDefault()?.Position</p>
<p><strong>Description:</strong> @Model.CvExperienceData.FirstOrDefault()?.Description</p>
<p><strong>Start Date:</strong> @Model.CvExperienceData.FirstOrDefault()?.StartDate</p>
<p><strong>End Date:</strong> @Model.CvExperienceData.FirstOrDefault()?.EndDate</p>
      

<button class="btn btn-primary" onclick="location.href='@Url.Action("EditExperience")'">Edit</button>
<hr />

<h2>Skills</h2>

<p><strong>Name:</strong> @Model.CvSkillsData.FirstOrDefault()?.Name</p>
<p><strong>Level:</strong> @Model.CvSkillsData.FirstOrDefault()?.Level</p>
       

<button class="btn btn-primary" onclick="location.href='@Url.Action("EditSkill")'">Edit</button>
<hr />
